@model GetAuthorByBlogAuthorIdDto

<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        @if (!string.IsNullOrEmpty(Model.AuthorCoverImageUrl))
        {
            var imageUrl = Model.AuthorCoverImageUrl.StartsWith("http")
            ? Model.AuthorCoverImageUrl
            : Url.Content("~/" + Model.AuthorCoverImageUrl);

            <img src="@imageUrl" alt="@Model.AuthorName" class="img-fluid mb-4">
        }
    </div>
    <div class="desc">
        <h3>@Model.AuthorName</h3>
        <p>@Model.AuthorDescription</p>
    </div>
</div>