@model GetBlogBySlugQueryResultDto
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                @await Component.InvokeAsync("_BlogDetailMainCompenentPartial", new { id = Model.BlogId })
                <div class="pt-5 mt-5">
                    <h3 class="mb-5">Author</h3>
                    @await Component.InvokeAsync("_BlogDetailAuthorAboutCompenentPartial", new { id = Model.AuthorId })
                    <h3 class="mb-5">Comments</h3>
                    @await Component.InvokeAsync("_CommentListByBlogCompenentPartial", new { blogId = Model.BlogId })
                    @await Component.InvokeAsync("_AddCommentCompenentPartial", new { blogId = Model.BlogId })
                </div>
            </div>
            <div class="col-md-4 sidebar ftco-animate">
                @await Component.InvokeAsync("_BlogDetailCloudTagByBlogCompenentPartial", new { blogId = Model.BlogId })
                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxCompenentPartial")
                @await Component.InvokeAsync("_BlogDetailSideBarCategoryListBoxCompenentPartial")
                @await Component.InvokeAsync("_BlogDetailSideBarRecentBlogsCompenentPartial")
                @await Component.InvokeAsync("_BlogDetailTagCloudCompenentPartial", new { blogId = Model.BlogId })
                @await Component.InvokeAsync("_ParagraphBlogDetailSideBarCompenentPartial")
            </div>
        </div>
    </div>
</section>