
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
    //BlogDetail Index
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_BlogDetailMainCompenentPartial")

            <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxCompenentPartial")


                @await Component.InvokeAsync("_BlogDetailSideBarCategoryListBoxCompenentPartial")


                @await Component.InvokeAsync("_BlogDetailSideBarRecentBlogsCompenentPartial")


                @await Component.InvokeAsync("_BlogDetailTagCloudCompenentPartial")

                @await Component.InvokeAsync("_ParagraphBlogDetailSideBarCompenentPartial")


            </div>

        </div>
    </div>
</section> <!-- .section --> 

