@model List<ResultTagCloudByBlogIdDto>

<div class="sidebar-box ftco-animate">
    <h3>Tag Cloud</h3>
    <div class="tagcloud">
        @if (Model != null && Model.Any())
        {
            @foreach (var tag in Model)
            {
                <a href="#" class="tag-cloud-link">@tag.TagCloudName</a>
            }
        }
        else
        {
            <p>There are no tags for this blog.</p>
        }
    </div>
</div>