@model List<ResultBlogContentByBlogIdDto>

<div class="col-md-8 ftco-animate">
    @if (Model != null && Model.Any())
    {
        @foreach (var content in Model)
        {
            switch (content.ContentType)
            {
                case DriveNow.Domain.Enums.BlogContentType.Heading:
                    <h2 class="mb-3 mt-5">@content.Content</h2>
                    break;
                case DriveNow.Domain.Enums.BlogContentType.Paragraph:
                    <p>@content.Content</p>
                    break;
                case DriveNow.Domain.Enums.BlogContentType.Image:
                    <p>
                        <img src="@content.Content" alt="" class="img-fluid">
                    </p>
                    break;
                default:
                    <p>@content.Content</p>
                    break;
            }
        }
    }
    else
    {
        <p>Bu blog için henüz içerik bulunmamaktadır.</p>
    }
</div>