<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="/Admin/AdminDashboard/Index/" class="logo">
                <i class="fas fa-car-alt"></i>
                <span>
                    DriveNow Admin
                </span>
            </a>
        </div>

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li><a href="/Admin/AdminDashboard/Index/" class="waves-effect"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Go to Website</span></a></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-car"></i>
                        <span>Car Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/AdminCar/Index/">Car Operations</a></li>
                        <li><a href="/AdminFeature/Index/">Car Features</a></li>
                        <li><a href="/AdminBrand/Index/">Brands</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-file-alt"></i>
                        <span>Content Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/AdminBanner/Index/">Banner Section</a></li>
                        <li><a href="/Admin/AdminBlog/Index/">Blog Operations</a></li>
                        <li><a href="/Admin/AdminCategory/Index/">Blog Categories</a></li>
                        <li><a href="/Admin/AdminAuthor/Index/">Author Operations</a></li>
                        <li><a href="/Admin/AdminTestimonial/Index/">Testimonials</a></li>
                        <li><a href="/Admin/AdminSocialMedia/Index/">Social Media</a></li>
                        <li><a href="/Admin/AdminAbout/Index/">About Us</a></li>
                        <li><a href="/Admin/AdminService/Index/">Services</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-cogs"></i>
                        <span>System Management</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Admin/AdminLocation/Index/">Locations</a></li>
                        <li><a href="/Admin/AdminPricing/Index/">Pricing Types</a></li>
                        <li><a href="/Admin/AdminStatistics/Index">Statistics</a></li>
                        <li><a href="/Admin/AdminContact/Index/">Contact</a></li>
                        <li><a href="/Admin/AdminFooterAddress/Index/">Footer Address</a></li>
                        <li><a href="/Admin/AdminComment/Index/">Comments</a></li>
                        <li><a href="#">Tag Cloud</a></li>
                    </ul>
                </li>

                <li class="menu-title">Other</li>

                <li><a href="#" class="waves-effect"><i class="fas fa-cog"></i><span>Settings</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-sign-out-alt"></i><span>Sign Out</span></a></li>
            </ul>
        </div>
    </div>
</div>