 @{
    Layout = null;
    //Admin Layout Start
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")
<body>
    <div id="layout-wrapper">
      
        @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
        @await Component.InvokeAsync("_AdminLayoutSideBarComponentPartial")
        <div class="main-content">
            @RenderBody()
            @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
        </div>
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>

</html>

@RenderBody()